@import url("https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap");

body {
  margin: 0;
}

.layout {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "BilboSwashCaps";
}

.invitation {
  background: url("./Images/envelope2.jpg")
    no-repeat center;
  background-size: auto;
  border: solid;
  font-size: 35px;
  font-weight: bold;
}

.letter-seal {
  /* border: solid; */
  padding-bottom: 50px;
  margin-top: -300px;
}

.name-form {
  margin: 25px;
  padding: 10px;
  border-radius: 7px;
  border: groove;
}

.name-form:focus {
  outline: none;
}

.name-button {
  border-radius: 25px;
  padding: 5px 16px;
}

.schoolList {
  background: url("./Images/paper-background2.jpg");
  font-size: 17px;
  font-weight: bold;
}

ol li {
  margin-top: 20px;
  list-style-type: none;
}

button {
  margin: 25px;
  padding: 5px;
}

button:hover {
  background-color: #7f0909;
  color: #ffc500;
}

.shop-content {
  height: 100vh;
}
.shop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: #7f0909;
  box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
  color: white;
}

.shop-list {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid;
  padding-bottom: 20px;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;

  /* border: solid; */
}

.image {
  display: flex;
  flex-direction: column;
  border: 15px solid white;
  /* height: 224px;
  width: 224px; */
  width: 25%;
  box-sizing: border-box;
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(211, 211, 211, 0.4);
}

.item-content {
  display: flex;
  /* border: solid; */
}

.heart-icon {
  justify-content: flex-end;
  padding: 10px 10px;
}

.item-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  /* border: solid; */
  height: 400px;
  justify-content: space-between;
}

.fadeVisibility {
  animation: fadeVisibility 3s;
}

@keyframes fadeVisibility {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
